body {
  text-align: center;
  height: auto;
  margin-top: 12%;
  font-size: 1rem;
}
#container {
  margin: auto;
  width: 100%;
  text-align: center;
  background: rgb(211, 162, 162);
}
header {
  margin: auto;
  width: 100%;
  background-color: black;
  min-height: 3rem;
}

#img_png,
#home_png {
  padding: 3%;
  width: 10rem;
  margin: 3%;
}
#adv_png {
  padding: 3%;
  width: 8rem;
  margin: 3%;
}
button {
  background: none;
  border: none;
  background-color: none;
}
#img_btn,
#adv_btn {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  text-decoration: underline;
  border-radius: 0 0.5rem;
  color: aliceblue;
}
#home_button {
  width: 2rem;
  box-shadow: 2px 2px black;
  border-radius: 25%;
  margin-right: 1%;
  margin-top: 0.2rem;
  margin-right: 3rem;
}
#img_btn:hover,
#adv_btn:hover,
#home_button:hover {
  box-shadow: 3px 4px rgb(151, 139, 139);
}
.input {
  width: 12rem;
  margin: 1%;
  padding: 2px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}
hr {
  background: #000;
  height: 0.1rem;
}
.search_btn {
  padding: 3px;
  border-radius: 6px;
  border: none;
  background: none;
  box-shadow: 2px 2px black;
  margin: 1%;
  margin-bottom: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.search_btn:hover {
  box-shadow: 4px 4px rgb(189, 180, 180);
  font-weight: bold;
}
#developer {
  margin-top: 1rem;
  margin: auto;
  width: 80%;
}
.info {
}
#me {
  width: 15rem;
  height: auto;
  float: left;
  border: 0.3rem dashed  rgb(141, 143, 7);
  border-radius: 10rem;
  margin-right: 1rem;
}
details {
  text-align: left;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
#dev,#skill{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 1rem;
  float: right;
  margin-right: 0.2rem;
  box-shadow: 0.1rem 0.2rem burlywood;
}
