body{
    margin: auto;
    border: solid black;
}
#container{
    font-weight: bold;
}
header{
    background-color: rgb(195, 237, 127);
    text-align: center;
    font-weight: bold;
}
#me,#info{
    display: inline-block;
    padding: 0.3rem;
}
#info{
    margin-left: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#me{
    margin-top: 0.3rem;
    width: 10rem;
    border-radius: 10rem;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}
main{
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.titals{
    font-weight: bolder;
    padding: 0.3rem;
    width: max-content;
    background-color: rgb(85, 198, 104);
    border-radius: 0.8rem;
    margin-bottom: 0;
}
hr{
    margin-top: 0px;
}
.underline{
    text-decoration: underline;
}
.sub{
    font-weight: normal;
    margin-left: 1rem;
}
#certificate{
   max-width: 90%;
}