.app{
    padding:0.5rem 3.5rem;
    align-items: center;
    justify-content: center;
    width: 80rem;
    margin: auto;
}
.btn{
    background-color: rgb(239, 202, 134);
    color: rgb(255, 255, 255);
    border: none;
    padding:0.4rem 0.6rem 0.3rem 0.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-radius:1rem;
    display: inline;
    margin-left: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
}